<div style="text-align: center;">
    <div class="song">
        <p *ngIf="auth.isAuthenticated$ | async">Spendable Score: {{currentPlayer.currentScore}}</p>
        <p>Coming Up: {{song3}}</p>
        <p>Up Next: {{song2}}</p>
        <p>Current Song: {{song1}}</p>
        <p>{{currentSongTime * 1000 | date: "mm:ss"}}/{{totalSongTime * 1000 | date: "mm:ss"}}</p>
        <input type="range" name="volume" id="volume" min="0" max="100" value="50" step="5" (input)="onVolumeChange($event)">
        <label for="volume">Volume</label>
        <audio id="audio" (ended)="nextSong()" (timeupdate)="updateSongTime()" muted></audio>
    </div>
    <div *ngIf="auth.isAuthenticated$ | async">
        <button  class="btn btn-info" (click)="changeSongs()">Random Songs({{changeSongsCost * -1}} points)</button>
        <button  class="btn btn-success" (click)="skipSong()">Next Song({{skipSongCost *-1}} points)</button>
    </div> 
    <div *ngIf="isPaused">
        <button (click)="onResetPlayer()">Reset Audio Player</button>
    </div>  
</div>