<div><h1>Login</h1></div>
<div>
    <form class="form-group" [formGroup]="loginGroup" style="width: 20%; text-align: center;">
        <label>Email</label>
        <input type="email" class="form-control" formControlName = "email" placeholder="example@email.com">
        <label>Password</label>
        <input type="password" class="form-control" formControlName = "password">
        <button class="btn btn-primary" (click)="login(loginGroup)">Login</button>
    </form>
    <a routerLink="/register">Register for an account</a>
</div>
