
<table id="table" mat-table [dataSource]="playerlist">

  <ng-container matColumnDef="gamename">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.ActiveDrawer,'inactive': !element.ActiveDrawer}"> {{element.gamename}} </td>
  </ng-container>


  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.ActiveDrawer,'inactive': !element.ActiveDrawer}"> {{element.score}} </td>



  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

