<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Score</th>
    </thead>
    <tbody>
        <tr *ngFor="let player of players">
            <app-player-list-item
            [player]="player"
            > </app-player-list-item> 
        </tr>
    </tbody>
</table>