<h3>Player Profile</h3>
<div>
    <span>
        <h4>Player Info</h4>
        <div class="container">  
            <p>Email: {{currentPlayer.email}}</p>   
        </div>
        <div class="container">   
            <p>Username: {{currentPlayer.playerName}}</p>
        </div>
        <div class="container">   
            <p>Games Played: {{currentPlayer.gamesPlayed}}</p>
        </div>
        <div class="container">   
            <p>Total Score: {{currentPlayer.playerScore}}</p>
        </div>
        <div class="container">   
            <p>Current Score: {{currentPlayer.currentScore}}</p>
        </div>
    </span>
    <span>
        <!-- put component of player list category here -->
    </span>
</div>