<h3>Player Profile</h3>
<div>
    <span>
        <h4>Player Info</h4>
        <div>
            <p>Email: {{currentPlayer.email}}</p>
        </div>
        <div>
            <p>Username: {{currentPlayer.playerName}}</p>
        </div>
        <div>
            <p>Games Played: {{currentPlayer.gamesPlayed}}</p>
        </div>
        <div>
            <p>Total Score: {{currentPlayer.playerScore}}</p>
        </div>
        <div>
            <p>Current Score: {{currentPlayer.currentScore}}</p>
        </div>
    </span>
    <span>
        <app-profile-wordlist *ngFor="let word of currentPlayer.customWords" [word]="word"
            (onRemoveWord)="removeWord(word)"></app-profile-wordlist>
        <div>

            <form (ngSubmit)="addWord">
                <div class="form-control">
                    <label for="text">Add a word (cost {{wordAddCost * -1}} points)</label>
                    <input type="text" name="text" id="newWord" [(ngModel)]="newWord">
                </div>
                <input type="submit" value="Add Word" class="btn btn-primary">
            </form>
        </div>
    </span>
</div>