<p>chat works!</p>
<head>
    <title>Socket.IO chat</title>
    <style></style>
  </head>
  <body>
      <div id="container" style="border:solid; width: 500px; height: 500px; overflow-y:auto; display:flex; flex-direction:column-reverse">
          <ul id="messages" *ngFor = "let line of chatlines" >{{line}}</ul>
      </div>
    <form style="width:500px" onkeypress="return event.keyCode != 13">
     <input id="text" #chatinput autocomplete="off" class="form-control"/><button type="button" (click) = "AddChat(chatinput.value)" >Send</button>
    </form>
  </body>