@import 'mat-vars.scss';

#nav {
    background-color: $myPrimaryColor;
}

#title {
    color: $myAccentColor;
}

#lobby-button {
    color: $myAccentColor;
}

#profile-button {
    color: $myAccentColor;
}

