<div><h1>Register an account</h1></div>
<div>
    <form class="form-group" [formGroup]="registerGroup" style="width: 20%;">
        <label>Email</label>
        <input type="email" class="form-control" formControlName = "email" placeholder="example@email.com">
        <label>Username</label>
        <input type="text" class="form-control" formControlName = "username" placeholder="username">
        <label>Password</label>
        <input type="password" class="form-control" formControlName = "password">
        <button class="btn btn-primary" (click)="registerAccount(registerGroup)">Create Account</button>
    </form>
    <a routerLink="/login">Back to login</a>
</div>