<div id="word-wrapper">
    <div id="item">
        <app-choose-word></app-choose-word> 
    </div>
    
    <div id="item">
        <app-timer></app-timer>
    </div>

    <div id="item">
        <app-word></app-word>
    </div>
</div>

<div id="wrapper">
    <div>
        <app-player-list id="player-list"></app-player-list> 
    </div>
    
    <div>
        <app-canvas id="item" style="display: inline-block;"></app-canvas>
    </div>
    
    <div>
        <app-chat id="app-chat" style="display: inline-block;"></app-chat>
    </div>
</div>







